.button {
  background-color: #f50e72;
  border-color: #f50e72;
   padding: 10px 60px;
  border-radius: 1.87rem;
  color: #fff;
  transition: all 0.3s ease-out;
}

.button:hover {
  color: white;
  background-color: #e00e6e;
}

.form-group .input {
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 10px 4px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 2px 10px 4px rgba(227, 227, 227, 1);
  box-shadow: 0px 2px 10px 4px rgba(227, 227, 227, 1);
}

.modal-lg {
  max-width: 900px;
}

.modal_left {
  margin-top: 7rem;
}

.modal_left img {
  margin-left: 1.8rem;
}

.button-red {
  background-color: #f50e72;
  color: #fff;
}

.button-red:hover {
  color: #fff;
}
.btn_close {
  padding: 0.8rem 1.2rem;
}

.close {
  color: black;
  font-size: 2.5rem;
}

.close:hover {
  color: #e00e6e;
}

.modal_right {
  margin-left: -2.1875rem;
}

.detail {
  margin-top: 60%;
}

.detail p {
  margin-bottom: 0.125rem;
}




/* media */
@media screen and (max-width: 550px) {
  .modal_left img {
    display: none !important;
  }
  .modal_right {
    margin-left: 0 !important;
  }
  .detail {
    margin-top: 38% !important;
  }
}

@media screen and (max-width: 768px) {
  .modal_right {
    margin-left: 0 !important;
  }
  .detail {
    margin-top: 50%;
  }
  .modal_left img {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
  .modal_right {
    margin-left: 0 !important;
}

.modal_left img {
    margin: 0 auto;
    display: block;
  }
  .detail {
    margin-top: 40%;
}
}